.about {
  &__container {
  }
  &__data {
    text-align: center;
  }
  &__description {
    margin-bottom: 40px;
    margin-top: 10px;
  }
  &__img {
    width: 280px;
    // margin: auto;
    justify-self: center;
  }
}